@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #030712;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin-reverse {
  to {
    transform: rotate(-1turn);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 1s linear infinite;
}
